
* {
   box-sizing: border-box;
}

html,
body {
   height: 100%;
}

#root {
   background-color: lightseagreen;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100%;
}

.Application {
   background-color: lightgray;
   display: flex;
   justify-content: center;
   align-items: center;
}
